$myTeal: rgb(0, 64, 64);
$myGray: rgb(166, 166, 166);
body {
    margin: 0;
}
.container {
    background-color: $myTeal;
    margin: 0;
    width: 100%;
}
.form-group {
    background-color: $myGray;
    width: 50%;
    margin: auto;
}
#header {
    color: white;
}